.DS_Store
.vscode
.idea

#Window
Thumbs.db
ehthumbs.db
Desktop.ini
*.bat

#Linux
.directory
*.sh

#npm
node_modules
*/node_modules
package-lock.json
*/package-lock.json
yarn.lock
*/yarn.lock
*.log
*.gz

.env
coverage
.env.product